<div class="points">
  <div class="details">
    <div class="points">
      <h1>{{ score.a || 0 }}</h1>
      :
      <h1>{{ score.b || 0 }}</h1>
    </div>
    <div class="teams">
      <div class="team">
        <div class="image">
          <!-- <img src="{{ upNext.team_a.logo }}" /> -->
          <img
            src="https://upload.wikimedia.org/wikipedia/en/e/e9/Maccabi_Tel_Aviv.png"
          />
        </div>
        <div class="name">Macabbi Tel Aviv</div>
      </div>
      <div class="team">
        <div class="image">
          <!-- <img src="{{ upNext.team_b.logo }}" /> -->
          <img
            src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/sac.png"
          />
        </div>
        <div class="name">sacramento kings roster</div>
      </div>
    </div>
  </div>
</div>
