<div class="points">
  <div class="details">
    <div class="points">
      <h1>{{ score.a || 0 }}</h1>
      :
      <h1>{{ score.b || 0 }}</h1>
    </div>
    <div class="teams">
      <div class="team">
        <div class="image">
          <!-- <img src="{{ upNext.team_a.logo }}" /> -->
          <img src="{{ homeTeam.logo }}" />
        </div>
        <div class="name">{{ homeTeam.team_name }}</div>
      </div>
      <div class="team">
        <div class="image">
          <!-- <img src="{{ upNext.team_b.logo }}" /> -->
          <img src="{{ awayTeam.logo }}" />
        </div>
        <div class="name">{{ awayTeam.team_name }}</div>
      </div>
    </div>
  </div>
</div>
