<div class="header" *ngIf="user$ | async as user">
  <div class="logo">BUL</div>
  <div class="link-data">
    <div class="avatar">
      <div class="username">
        <a href="/profile/{{ user.user_id }}">{{ user.team_name }}</a>
      </div>
      <img src="{{ user.logo }}" width="25" />
    </div>
    <div class="coin">
      <div class="item">{{ user.real_cash }}</div>
      <div class="coinIcon"><img src="assets/images/coin.png" /></div>
    </div>
    <div class="coin-general">
      <div class="item">{{ user.cash }}</div>
      <div class="coinIcon">
        <img src="assets/images/coin-general.png" />
      </div>
    </div>
  </div>
</div>
<div class="links">
  <a href="">Home</a>
  <a href="team">My Team</a>
  <a href="friends">Friends</a>
  <a href="messages">Messages</a>
  <a href="cards">Buy Cards</a>
  <a href="games">Games</a>
  <a href="myLeague">My League</a>
</div>
<hr />
