.friends-main-component {
  width: 40%;
  height: 30vh;
  background: linear-gradient(#080808a8, #e91e632e);
  margin-top: 2vh;
  border-radius: 10px;
  padding: 2vh;
  .title {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    a {
      color: var(--primary-link);
      text-decoration: none;
      font-size: 0.8rem;
      font-weight: 100;
      align-self: center;
    }
  }
  .friend {
    padding: 1vh;
    background: #e91e63;
    border-radius: 10px;
    color: white;
    display: flex;
    gap: 1vh;
    .user {
      align-self: self-end;
    }
  }
}
