<div class="main">
  <div class="main-content">
    <app-header></app-header>
    <div class="next-game-section">
      <app-next-game [upNext]="nextGame"></app-next-game>
    </div>
    <div class="split-main">
      <div class="team-top">
        <h2>Your opening team</h2>
        <div class="top-cards">
          <div class="card" *ngFor="let card of cards">
            <app-card-rect [card]="card"></app-card-rect>
          </div>
        </div>
        <small><a routerLink="/team">Go to your team</a></small>
      </div>
      <div class="friends">
        <app-friends></app-friends>
      </div>
    </div>
    <p-button
      (click)="showDialog()"
      icon="pi pi-external-link"
      label="Get your first cards now!"
    ></p-button>
    <p-dialog
      [(visible)]="display"
      [style]="{ width: '75vw' }"
      [baseZIndex]="10000"
    >
      <p class="counter" *ngIf="counter > 0">
        <p-progressSpinner></p-progressSpinner>
        {{ counter }}
      </p>
      <p class="cards" *ngIf="showCards">
        <app-card playerName="Sam"></app-card>
        <app-card playerName="Sam"></app-card>
        <app-card playerName="Sam"></app-card>
        <app-card playerName="Sam"></app-card>
        <app-card playerName="Sam"></app-card>
      </p>
      <ng-template pTemplate="footer"> </ng-template>
    </p-dialog>
  </div>
</div>
