.cards {
  background: linear-gradient(#000c, #000), url("/assets/images/friendsBg.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin: unset;
  &-content {
    max-width: 1006px;
    margin: 0 auto;
    &-list {
      margin-bottom: 2vh;
      h1 {
        margin: unset;
        color: white;
        margin: unset;
      }
      small {
        color: white;
        margin-bottom: 2vh;
      }
    }
  }
  .data {
    color: white;
    .price {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}

.whatIGotCards {
  display: flex;
  gap: 2vh;
  justify-content: center;
}
