/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Hebrew", serif;
}

:root {
  --primary-link: #4fc3f7;
}
